.Task {
    &__title {
        max-width: calc(65vw - 48px);
        word-wrap: break-word;
    }
}

input:checked + div {  
    @apply border-blue-500;  
}  

input:checked + div svg {  
    @apply block;  
}