@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
button,
dl,
hr,
dd {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;

  #root {
    height: 100vh;
  }
}
